<div class="row">
	<div class="col s12 center-align middle-align">
		<img class="image image-0" src="{{APP_SERVICE_PATH}}/images/0.png"/>
		<img class="image image-1" src="{{APP_SERVICE_PATH}}/images/1.png"/>
		<img class="image image-2" src="{{APP_SERVICE_PATH}}/images/2.png"/>
		<img class="image image-3" src="{{APP_SERVICE_PATH}}/images/3.png"/>
		<img class="image image-4" src="{{APP_SERVICE_PATH}}/images/4.png"/>
		<img class="image image-5" src="{{APP_SERVICE_PATH}}/images/5.png"/>
		<img class="image image-6" src="{{APP_SERVICE_PATH}}/images/6.png"/>
		<img class="image image-7" src="{{APP_SERVICE_PATH}}/images/7.png"/>

		<h1 id="title"></h1>
		<p id="body"></p>
		<button id="btn-next" class="btn waves-effect waves-light" onclick="next()"></button>
	</div>
</div>