<div class="row screen">
	<div class="col s12">
		<div class="speech-bubble">
			<div class="arrow"></div>
			¡Ya configuré tu cuenta! Te dejo ideas para descubrir la app. Regresar acá buscando el servicio "Bienvenidos" en la pantalla de inicio.
		</div>
		<div class="person-avatar circle" face="apretin" color="verde" size="60"></div>
	</div>

	<div class="col s12">
		<ul class="collection one-line">
			<!-- read tutorial -->
			<li class="collection-item avatar">
				<i class="fas fa-graduation-cap circle"></i>
				<p class="blue-grey-text">Abre el servicio Escuela y lee el tutorial de como usar la app.</p>
				<a href="#!" onclick="apretaste.send({command: 'ESCUELA CURSO', data: {query:tutorialId}});" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- fill profile -->
			<li class="collection-item avatar">
				<i class="fas fa-user circle"></i>
				<p class="blue-grey-text">Completa todo tu Perfil para que otros te conozcan.</p>
				<a href="#!" onclick="apretaste.send({command: 'PERFIL EDITAR'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- add apretin -->
			<li class="collection-item avatar">
				<i class="fas fa-users circle"></i>
				<p class="blue-grey-text">Pídeme amistad en el servicio "Amigos", buscando por "apretin".</p>
				<a href="#!" onclick="apretaste.send({command: 'AMIGOS'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- post in pizarra -->
			<li class="collection-item avatar">
				<i class="fas fa-clipboard-list circle"></i>
				<p class="blue-grey-text">Abre la Pizarra y escribe tu primera nota saludado a todos.</p>
				<a href="#!" onclick="apretaste.send({command: 'PIZARRA GLOBAL'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- find friends -->
			<li class="collection-item avatar">
				<i class="fas fa-users circle"></i>
				<p class="blue-grey-text">Busca usuarios online en el servicio Chat, y pídeles amistad.</p>
				<a href="#!" onclick="apretaste.send({command: 'CHAT ONLINE'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- read news -->
			<li class="collection-item avatar">
				<i class="fas fa-newspaper circle"></i>
				<p class="blue-grey-text">Revisa que pasa fuera y dentro de Cuba en el servicio Noticias.</p>
				<a href="#!" onclick="apretaste.send({command: 'NOTICIAS'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- get credits -->
			<li class="collection-item avatar">
				<i class="fas fa-coins circle"></i>
				<p class="blue-grey-text">Leéte las maneras de adquirir créditos y como canjearlos.</p>
				<a href="#!" onclick="apretaste.send({command: 'CREDITO OBTENER'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- check ranking -->
			<li class="collection-item avatar">
				<i class="fas fa-trophy circle"></i>
				<p class="blue-grey-text">Abre el Ranking semanal y busca cómo adquirir experiencia.</p>
				<a href="#!" onclick="apretaste.send({command: 'RANKING'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- buy raffle tickect -->
			<li class="collection-item avatar">
				<i class="fas fa-ticket-alt circle"></i>
				<p class="blue-grey-text">Canjea un ticket para que participes en la Rifa en curso.</p>
				<a href="#!" onclick="apretaste.send({command: 'RIFA TICKETS'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- check services -->
			<li class="collection-item avatar">
				<i class="fas fa-icons circle"></i>
				<p class="blue-grey-text">Revisa la lista de servicios, abre todos los que te interesen.</p>
				<a href="#!" onclick="apretaste.send({command: 'INICIO'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- edit widgets -->
			<li class="collection-item avatar">
				<i class="fas fa-border-all circle"></i>
				<p class="blue-grey-text">Desde el menú, edita tus widgets de la pantalla de inicio.</p>
				<a href="#!" onclick="apretaste.send({command: 'INICIO EDITAR'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- read terms -->
			<li class="collection-item avatar">
				<i class="fas fa-list-ol circle"></i>
				<p class="blue-grey-text">Léete los términos de uso de Apretaste y de la Pizarra.</p>
				<a href="#!" onclick="apretaste.send({command: 'TERMINOS'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- app origin -->
			<li class="collection-item avatar">
				<i class="fas fa-bullhorn circle"></i>
				<p class="blue-grey-text">Dime dónde escuchastes sobre la app de Apretaste.</p>
				<a href="#!" onclick="apretaste.send({command: 'PERFIL ORIGEN'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>

			<!-- contact support -->
			<li class="collection-item avatar">
				<i class="fas fa-headset circle"></i>
				<p class="blue-grey-text">¿Tienes alguna duda? Escríbeme desde el servicio "Ayuda".</p>
				<a href="#!" onclick="apretaste.send({command: 'AYUDA SOPORTE'})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
			</li>
		</ul>
	</div>
</div>
